# HW 15 SQL

In [48]:
import os
import json
import psycopg2
from psycopg2.extras import DictCursor

In [2]:
POSTGRESQL_HOST = '10.129.0.25'

## Access option #1 (close connection and cursor manually)

In [3]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [13]:
conn = psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
)
cur = conn.cursor()

In [14]:
query = 'SELECT * FROM bookings.bookings LIMIT 5'

In [15]:
cur.execute(query)
records = cur.fetchall()
cur.close()
conn.close()

In [16]:
records

[('000004',
  datetime.datetime(2016, 8, 13, 12, 40, tzinfo=datetime.timezone.utc),
  Decimal('55800.00')),
 ('00000F',
  datetime.datetime(2017, 7, 5, 0, 12, tzinfo=datetime.timezone.utc),
  Decimal('265700.00')),
 ('000010',
  datetime.datetime(2017, 1, 8, 16, 45, tzinfo=datetime.timezone.utc),
  Decimal('50900.00')),
 ('000012',
  datetime.datetime(2017, 7, 14, 6, 2, tzinfo=datetime.timezone.utc),
  Decimal('37900.00')),
 ('000026',
  datetime.datetime(2016, 8, 30, 8, 8, tzinfo=datetime.timezone.utc),
  Decimal('95600.00'))]

## Access option #2 (use 'with' context manager)

In [8]:
with psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
) as conn:
    with conn.cursor() as cur:
        cur.execute('SELECT * FROM bookings.airports LIMIT 5')
        records = cur.fetchall()

In [9]:
records

[('YKS',
  'Yakutsk Airport',
  'Yakutsk',
  '(129.77099609375,62.093299865722656)',
  'Asia/Yakutsk'),
 ('MJZ',
  'Mirny Airport',
  'Mirnyj',
  '(114.03900146484375,62.534698486328125)',
  'Asia/Yakutsk'),
 ('KHV',
  'Khabarovsk-Novy Airport',
  'Khabarovsk',
  '(135.18800354004,48.52799987793)',
  'Asia/Vladivostok'),
 ('PKC',
  'Yelizovo Airport',
  'Petropavlovsk',
  '(158.45399475097656,53.16790008544922)',
  'Asia/Kamchatka'),
 ('UUS',
  'Yuzhno-Sakhalinsk Airport',
  'Yuzhno-Sakhalinsk',
  '(142.71800231933594,46.88869857788086)',
  'Asia/Sakhalin')]

## Access option #3

In [22]:
#!pip install ipython-sql already installed

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.8.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.8.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [23]:
%load_ext sql
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [49]:
import os

USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

In [36]:
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

In [52]:
%%sql $CONNECT_DATA
    SELECT * FROM  bookings.tickets

2949857 rows affected.

KeyError: 'DEFAULT'

**Manual 12 code doesnt seem to work neither here nor in the manual file itself :(**

## Task to find Who flew (11.1 connection)

In [78]:
!env | grep POST
conn = psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
)
cur = conn.cursor()

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [79]:
fetch_query = 'SELECT passenger_name FROM tickets WHERE ticket_no = \'0005432312164\';'

In [80]:
cur.execute(fetch_query)
records = cur.fetchall()
cur.close()
conn.close()

In [81]:
print(records)

[('ALEKSEY GERASIMOV',)]

### Conclusion: for 3rd task: i found 11.1 method more convenient because you can change your query independently, and it is more readable. Commands for the 12th manual didnt word for some reason, however i could see a number of queries that it tried to load. It didn't work in the manual file itself nor here. As for the 4th task, I chose 11.1 method to fetch the data, it was straightforward.